<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<div class="row">
{{#each todos}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">From User: {{userId}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Know more?</h6>
            <p class="card-text">{{title}}</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
{{/each}}
</div>